/* Set core root defaults */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  --clr-base-blue: rgb(146, 206, 208, 1);
  --clr-base-green: rgb(85, 143, 94, 1);
  --clr-base-purple: rgba(13, 4, 42, 1);

  --clr-opaque-green: rgb(85, 143, 94, 0.7);
  --clr-opaque-purple: rgba(13, 4, 42, 0.7);

  --clr-body-boxes: rgba(122, 154, 157, 0.6);
  --clr-footer: rgb(240,244,250);
}

* {
  margin: 0 !important;
  padding: 0;
  font-family: 'Montserrat', Sans-Serif !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:focus {
  outline: 2px solid rgba(255, 255, 255, 1);
  outline-offset: 3px;
}

body {
  text-rendering: optimizeSpeed;
  background-image: url("email_alerts/www/img/acad_back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  line-height: 1.5;
  position: relative;
  overflow-x: clip;
  background-color: var(--clr-base-purple);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

.container-fluid {
  padding: 0 !important;
}

.title, .author {
  display: none;
}

ul {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

.h1, h1 {
  letter-spacing: 1px;
  font-size: 5.5rem !important;
  font-weight: 700;
  line-height: 1;
}

.h2, h2 {
  font-size: 3rem;
  font-weight: 600;
}

.h3, h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

.main-container {
  width: 100% !important;
  max-width: 100% !important;
}

.custbody {
  padding: 10.5rem;
  width: 100vw;
  margin: 0 auto;
}

.body-title-box {
  position: absolute;
  top: 0;
  left: 1%;
  align-items: center;
  justify-content: left;
  color: white;
}

.body-titles {
  margin-left: 1rem;
  font-size: 30px;
  font-weight: 500;
}

.cite {
  grid-area: images;
  position: absolute;
  color: black;
  font-size: 18px;
  font-weight: 500;
  right: 30px;
  bottom: 15px;
}







/* || SCROLL TO TOP BUTTON */

.scrolltotop {
  right: 2.7rem; 
  bottom: 2rem; 
  width: 4.5rem;
  position: fixed;
  z-index: 1000;
}

.sttan {
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 10rem 50rem;
}

@keyframes fade-in {
  to {opacity: 1;}
}











/* Title styling*/

/*.title-box {
  position: relative;
  text-align: center; 
  margin: 0 0 25vh 0;
  background-color: var(--clr-opaque-purple);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
}*/

.title-box {
  position: relative;
  padding: 10rem 5rem 5rem 5rem;
  margin-bottom: 10rem;
  width: 100vw;
  background-image: linear-gradient(
    to left, var(--clr-opaque-purple), var(--clr-base-purple));
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
}

/*.titlemain {
  color: rgb(255, 255, 255);
  font-size: 45px; 
  font-weight: 600;
  margin-bottom: 10px;
}

.titlemain2 {
  color: rgb(255, 255, 255); 
  font-size: 30px; 
  font-weight: 600;
  margin-bottom: 15px;
}

.subtitle {
  color: rgb(255, 255, 255); 
  font-size: 20px; 
  font-weight: 500;
  margin-bottom: 10px;
}*/

.title-text-box {
  max-width: 90vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 2rem;
  display: flex;
  color: white;
}

.header-text {
  color: white;
}

.headerp {
  font-size: 2rem !important;
  padding: 4rem 5rem 4rem 0;
  max-width: 70vw;
}

.header-date {
  color: black;
  font-size: 1.8rem !important;
  font-style: italic;
  padding: .3rem 1.5rem;
  margin-top: 2rem;
  border-radius: 3rem;
  background-color: var(--clr-base-blue);
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.5);
}






/* Intro styling*/

.intro-box {
  position: relative;
  background-color: var(--clr-body-boxes);
  margin: 50px auto;
  width: 100%;
  padding: 50px 30px 30px 30px;
  border-radius: 1rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-column-gap: 4%;
  grid-template-columns: 56% 40%;
  grid-template-areas: 
    "text theimg"
}

.ds-text {
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.intro-text {
  grid-area: text;
  margin: 20px auto;
  padding: 20px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 18px;
}

.intro-img-box {
  grid-area: theimg;
  margin: 20px auto;
  padding: 20px;
  border-radius: 1rem;
  background-color: var(--clr-opaque-green);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "inat"
    "ebird"
}

.inat-logo {
  grid-area: inat;
  position: relative;
  display: block;
  margin: 0 auto 2rem auto !important;
  height: 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.4);
  padding: 2rem 3.5rem;
  border-radius: 8rem;
}

.ebird-logo {
  grid-area: ebird;
  position: relative;
  display: block;
  margin: 0 auto 2rem auto !important;
  height: 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.4);
  padding: 2rem 3.5rem;
  border-radius: 8rem;
}









/* Map box styling */
.map-box {
  position: relative;
  border-radius: 1rem;
  padding: 60px 30px 30px 30px;
  background-color: var(--clr-body-boxes);
  box-shadow: 4px 4px 1rem rgba(0, 0, 0, 0.5), -4px -4px 1rem rgba(0, 0, 0, 0.5);
  margin: auto 10rem 5rem 10rem !important;
}

.boxtitles {
  margin-bottom: 2rem !important;
  margin-top: 1rem !important;
  color: white;
}

.html-widget {
  width: 100%;
  aspect-ratio: 3 / 3;
  margin: 0 auto;
  border-radius: 1rem;
  max-width: 100vw;
  margin-bottom: 0px !important;
  margin-top: 2rem;
}

.leaflet-popup-content {
  margin: 13px 19px !important;
}

.leaflet-popup-tip {
  margin: -10px auto 0 !important;
}

.leaflet-popup-tip-container {
  margin: 10px 0 0 -8px !important;
}

.leaflet-popup-content-wrapper {
  margin: 0 0 -10px 10px !important;
}


/* Map box styling

.map-box {
  max-width: 80%;
  margin: auto;
  box-shadow: 4px 4px 1rem rgba(0, 0, 0, 0.5), -4px -4px 1rem rgba(0, 0, 0, 0.5);
}

.html-widget {
    margin-bottom: 0px !important;
}
*/










/* Pests box styling */

.pests-box {
  position: relative;
  background-color: var(--clr-body-boxes);
  margin: 0 auto 5rem auto !important;
  width: 100%;
  padding: 60px 30px 30px 30px;
  border-radius: 1rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "images"
    "text"
}

.pests-img {
  grid-area: images;
  max-height: 250px;
  width: 100%;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
}

.pests-table {
  grid-area: text;
  margin-top: 4rem !important;
  padding: 20px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 18px;
}





/* TE box styling */

.te-box {
  position: relative;
  background-color: var(--clr-body-boxes);
  margin: 0 auto 5rem auto !important;
  width: 100%;
  padding: 60px 30px 30px 30px;
  border-radius: 1rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "images"
    "text"
}

.te-img {
  grid-area: images;
  max-height: 250px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
}

.te-table {
  grid-area: text;
  margin-top: 4rem !important;
  padding: 20px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 18px;
}





/* Rare box styling */

.rare-box {
  position: relative;
  background-color: var(--clr-body-boxes);
  margin: 0 auto 5rem auto !important;
  width: 100%;
  padding: 60px 30px 30px 30px;
  border-radius: 1rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "images"
    "text"
}

.rare-img {
  grid-area: images;
  max-height: 250px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
}

.rare-table {
  grid-area: text;
  margin-top: 4rem !important;
  padding: 20px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 18px;
}






/* Buffer box styling */

.buff-box {
  position: relative;
  background-color: var(--clr-body-boxes);
  margin: 0 auto 5rem auto !important;
  width: 100%;
  padding: 60px 30px 30px 30px;
  border-radius: 1rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "images"
    "text"
}

.buff-img {
  grid-area: images;
  max-height: 250px;
  width: 100%;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
}

.buff-table {
  grid-area: text;
  margin-top: 4rem !important;
  padding: 20px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 18px;
}






/* New species box styling */

.new-box {
  position: relative;
  background-color: var(--clr-body-boxes);
  margin: 0 auto 5rem auto !important;
  width: 100%;
  padding: 60px 30px 30px 30px;
  border-radius: 1rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "images"
    "text"
}

.new-img {
  grid-area: images;
  max-height: 250px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
}

.new-table {
  grid-area: text;
  margin-top: 4rem !important;
  padding: 20px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 18px;
}





/* Data download styling */

.downloader-box {
  position: relative;
  background-color: var(--clr-body-boxes);
  margin: 50px auto;
  width: 100%;
  padding: 50px 30px 30px 30px;
  border-radius: 1rem;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 50%;
  grid-template-areas: 
    "inatbutton ebdbutton"
}

.btn {
  position: relative;
  display: block;
  margin: 10px auto 0px auto;
  padding: 9px 15px;
}

.button {
  align-content: center;
}

.dlb {
  display: grid;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 1rem !important;
}

.inatbut {
  grid-area: inatbutton;
}

.ebdbut {
  grid-area: ebdbutton;
}

.btn-success {
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
}





/* Credits box styling */

.credits-box {
  position: relative;
  background-color:  rgba(255, 255, 255, 0.8);
  box-shadow: 0px -3px 1rem rgba(0, 0, 0, 0.4);
  margin: 50px auto;
  width: 100%;
  padding: 30px;
  display: grid;
  grid-column-gap: 2%;
  grid-template-columns: 38% 60%;
  grid-template-areas: 
    "images text"
}

.schoodic-img {
  position: relative;
  grid-area: images;
  width: 70%;
  margin-bottom: 15px;
  box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.4);
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
}

.credits-text {
  grid-area: text;
  padding: 10px;
  text-align: left;
  color: black;
  font-size: 20px;
  font-weight: 500;
}







/* || Footer */
.footer-box {
  position: relative;
  padding: 4rem 2rem 0 2rem;
  width: 100vw;
  background-color: var(--clr-footer);
  box-shadow: 0px -3px 1rem rgba(0, 0, 0, 0.4);
}

.footer-content {
  margin: 0 6rem 3rem 6rem !important;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footer-box h2 {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1.5rem !important;
}

.footer-box p {
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: black;
}

.footer-box a {
  font-size: 1.4rem;
  line-height: 3rem;
  color: black;
}

.footer-box a:hover {
  text-decoration: none;
  color: var(--clr-br-gre);
}

.footer-content p {
  margin-bottom: 2rem;
}

.footer-si p {
  line-height: 1.5rem !important;
  font-size: 1.4rem;
}

.footer-logo {
  width: 16rem;
  margin-bottom: 2rem !important;
}

.copyright {
  text-align: center;
  padding: 3rem 0;
  font-size: 1.4rem !important;
  border-top: 1px solid gray;
}














/* Media query styling */

@media screen and (max-width: 1048px) {
  
  .main-container {
    width: 100% !important;
    max-width: 100% !important;
  }
  
}



@media screen and (max-width: 880px) {
  
  .intro-box {
    grid-column-gap: none;
    grid-template-columns: 100%;
    grid-template-areas: 
      "text"
      "theimg"
  }
  
  .intro-img-box {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
      "inat ebird"
  }
  
  .inat-logo {
    margin: auto;
  }
  
  .ebird-logo {
    margin: auto;
  }
  
  .shrink-table {
    font-size: 12px;
  }
  
}



@media screen and (max-width: 700px) {

  .downloader-box {
     grid-template-columns: 100%;
     grid-template-areas: 
       "inatbutton"
       "ebdbutton"
  }
  
  .inat-logo {
    margin-top: 20px;
  }
  
  .ebird-logo {
    margin-top: 40px;
  }

}


@media screen and (max-width: 600px) {
  
  .intro-img-box {
    grid-template-columns: 100%;
    grid-template-areas: 
      "inat"
      "ebird"
  }
  
  .credits-box {
    grid-row-gap: 30px;
    grid-template-columns: 100%;
    grid-template-areas: 
      "images"
      "text"
  }
  
  .inat-logo {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .ebird-logo {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .shrink-table {
    font-size: 10px;
  }
  
}


@media screen and (max-width: 568px) {
  
  .te-img {
    margin: 40px auto 20px auto;
  }
  
  .pests-img {
    margin: 40px auto 20px auto;
  }
  
}


@media screen and (max-width: 450px) {
  
  .schoodic-img {
    width: 100%;
  }
  
}
